div {
    width: 100px;
    height: 100px;
    border: 1px solid #C5BABA;
}

img {
    border: 10px groove #100A07;
}

.dogone {
    border: 10px dashed #AD745F;
}

.dogtwo {
    border: 10px dotted #0E0300;
}

.dogthree {
    border: 10px double #0B0300;
}