* {
    margin: 50px;
}

header {
    width: 100%;
    height: 100px;
    background-color: #D92121;
}

section {
    width: 100%;
    height: 200px;
    background-color: blue;
}

article {
    width: 50%;
    height: 100px;
    background-color: #191902;
}

aside,
footer {
    width: 100%;
    height: 100px;
    background-color: #119411;
}